<!DOCTYPE html>
<html lang="en">

<% include ./public/layouts/header.ejs %>

<body>
  <div class="container-scroller">
    <% include ./public/layouts/navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <% include ./public/layouts/sidebar.ejs %>
      <div class="main-panel">
        <img src="/images/logo.svg" alt="logo" style="margin-top: auto;margin-bottom: auto; max-width: 80%;margin-left: auto; margin-right: auto">
      </div>
    </div>
  </div>
  <script src="./vendors/base/vendor.bundle.base.js"></script>
  <script src="./vendors/chart.public/scripts/Chart.min.js"></script>
  <script src="./scripts/off-canvas.js"></script>
  <script src="./scripts/hoverable-collapse.js"></script>
  <script src="./scripts/template.js"></script>
  <script src="./scripts/todolist.js"></script>
  <script src="./scripts/dashboard.js"></script>
</body>

</html>