<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="/">
            <!-- <i class="ti-shield menu-icon"></i> -->
            <img class="menu-icon" src="/images/icons/home.svg" width="18px" />
            <span class="menu-title">Inicio</span>
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">
            <!-- <i class="ti-palette menu-icon"></i> -->
            <img class="menu-icon" src="/images/icons/menu.svg" width="18px" />
            <span class="menu-title">Menu</span>
            <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Gestionar menu</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/item/register">Registrar item</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/item">Listar items</a> </li>
            </ul>
            </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#empleados" aria-expanded="false" aria-controls="empleados">
            <!-- <i class="ti-palette menu-icon"></i> -->
            <img class="menu-icon" src="/images/icons/employee.svg" width="18px" />
            <span class="menu-title">Empleados</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="empleados">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Registrar</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Listar</a></li>
            </ul>
        </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#empresas" aria-expanded="false" aria-controls="empresas">
            <!-- <i class="ti-palette menu-icon"></i> -->
            <img class="menu-icon" src="/images/icons/enterprise.svg" width="18px" />
            <span class="menu-title">Empresas</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="empresas">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">Registrar</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Listar</a></li>
            </ul>
        </div>
        </li>
    </ul>
</nav>